<!DOCTYPE html>
<html>
<head>
    <title>Edit Sparepart</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>✏️ Edit Sparepart</h1>
    <form method="POST">
        <label>Nama Sparepart:</label>
        <input type="text" name="nama" value="{{ part.nama }}" required><br>

        <label>Stok:</label>
        <input type="number" name="stok" value="{{ part.stok }}" required><br>

        <label>Satuan:</label>
        <input type="text" name="satuan" value="{{ part.satuan }}"><br>

        <!-- Tambahkan setelah input satuan -->
        <label>Harga Satuan (Rp):</label>
        <input type="number" name="harga" value="{{ part.harga }}" required><br>

        <button type="submit">Update</button>
        <a href="/">Kembali</a>
    </form>
</body>
</html>
