<!DOCTYPE html>
<html>
<head>
    <title>Transaksi Sparepart</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="fade-in">🔄 Transaksi: {{ part.nama }}</h1>
        {% if message %}
          <p style="color: green;">{{ message }}</p>
        {% elif error %}
          <p style="color: red;">{{ error }}</p>
        {% endif %}
    <form method="POST" action="/transaction/<int:id>" class="fade-in">
      <label>Pilih Sparepart:</label>
        <select name="sparepart_id" required>
            {% for part in parts %}
            <option value="{{ part.id }}">{{ part.nama }} (Stok: {{ part.stok }})</option>
            {% endfor %}
        </select><br>
          <p><strong>Stok saat ini:</strong> {{ part.stok }}</p>
       {% if error %}
          <p style="color:red">{{ error }}</p>
       {% endif %}
        <label>Jumlah:</label>
        <input type="number" name="jumlah" required>
        <label>Tipe:</label>
        <select name="tipe">
            <option value="masuk">Masuk</option>
            <option value="keluar">Keluar</option>
        </select></br>
        <button type="submit">Simpan Transaksi</button>
        <a href="/">Kembali</a>
    </form>
</body>
</html>
